<h3 class="container">Calcular el Area del Terreno</h3>

<form class="terreno container" ng-submit="vm.areaTerreno()">

  <label for="">terrenoA</label>
  <input class="number" type="text" name="" placeholder="Area " ng-model="vm.terrenoA">

  <label for="">terrenoB</label>
  <input class="number" type="text" name="" placeholder="Area " ng-model="vm.terrenoB">

  <label for="">terrenoC</label>
  <input class="number" type="text" name="" placeholder="Area " ng-model="vm.terrenoC">

  <button class="promedios" type="submit" >Calcular Area Terreno</button>

  <p>El Area del Terreno es: {{vm.terreno}}</p>
        </div>
    </div>
</form>
