<h3 class="container">Calcular el Area Triangulo Rectangulo</h3>

<form class="terreno container" ng-submit="vm.retangulo()">

    <label for="">Valor1</label>
  <input class="number" type="text" name="" placeholder="Area " ng-model="vm.r">

  <label for="">Valor2</label>
  <input class="number" type="text" name="" placeholder="Area " ng-model="vm.h">

  <button class="promedios" type="submit" >Calcular</button>

  <p>El Area del Tringulo Rectangulo es: {{vm.area2}}</p>
        </div>
    </div>
</form>
