<h3 class="container">Calcular Precio del Galon</h3>

<form class="Area container" ng-submit="vm.calcularPrecio()">

  <label for="">Cantidad de litro que produce</label>
  <input class="number" type="text" name="" placeholder="litro " ng-model="vm.l">

  <label for="">Precio del Galon</label>
  <input class="number" type="text" name="" placeholder="precio " ng-model="vm.pg">

  <button class="promedios" type="submit" >Calcular Precio</button>

  <p>El precio es: {{vm.ga}}</p>
        </div>
    </div>
</form>
