<form class="Promedio container" name="formStandarUser" ng-submit="vm.calificaion()">

  <label for="">calificacion1</label>
  <input class="number" type="number" name="" placeholder="Calificacion " ng-model="vm.Ca1">

  <label for="">calificacion2</label>
  <input class="number" type="number" name="" placeholder="Calificacion " ng-model="vm.Ca2">

  <label for="">calificacion3</label>
  <input class="number" type="number" name="" placeholder="Calificacion " ng-model="vm.Ca3">

  <label for="">calificacion4</label>
  <input class="Promedio" type="number" name="" placeholder="Calificacion " ng-model="vm.Ca4">

  <button class="promedios" type="submit" >Calcular Promedio</button>

  <p>El promedio de su nota es: {{vm.calificacionP}}</p>
        </div>
    </div>
</form>
