<h3 class="container">Plano Cartesiono</h3>

<form class="terreno container" >

  <label for="">Valor1</label>
  <input class="number" type="text" name="" placeholder="X2 " ng-model="vm.x1">

  <label for="">Valor2</label>
  <input class="number" type="text" name="" placeholder="X1 " ng-model="vm.y1">

  <label for="">Valor1</label>
  <input class="number" type="text" name="" placeholder="Y2 " ng-model="vm.x2">

  <label for="">Valor2</label>
  <input class="number" type="text" name="" placeholder="Y1 " ng-model="vm.y2">

  <button class="promedios" ng-click="vm.planocartesiono()">Calcular</button>

  <p>El Area del Tringulo Rectangulo es: {{vm.b}}</p>
        </div>
    </div>
</form>
